In [2]:
pip install -u pandas-datareader

Note: you may need to restart the kernel to use updated packages.

Usage:
  C:\Users\dan.marks\Anaconda3\envs\mlenv\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  C:\Users\dan.marks\Anaconda3\envs\mlenv\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  C:\Users\dan.marks\Anaconda3\envs\mlenv\python.exe -m pip install [options] [-e] <vcs project url> ...
  C:\Users\dan.marks\Anaconda3\envs\mlenv\python.exe -m pip install [options] [-e] <local project path> ...
  C:\Users\dan.marks\Anaconda3\envs\mlenv\python.exe -m pip install [options] <archive url/path> ...

no such option: -u

In [9]:
# import librarys
import math
import pandas_datareader as web
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from keras.models import Sequential
from keras.layers import Dense, LSTM
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [38]:
#get stock pric
df = web.DataReader('DASH', data_source='yahoo', start='2020-12-11', end='2021-04-25')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-11,182.000000,168.250000,176.520004,175.000000,4760600,175.000000
2020-12-14,170.000000,151.199997,169.100006,160.000000,7859600,160.000000
2020-12-15,161.419998,153.759995,157.100006,158.889999,5017000,158.889999
2020-12-16,167.470001,157.199997,161.179993,158.050003,3061300,158.050003
2020-12-17,161.660004,149.949997,159.100006,154.210007,6369800,154.210007
...,...,...,...,...,...,...
2021-04-19,150.339996,142.309998,142.460007,146.669998,2246100,146.669998
2021-04-20,148.809998,142.250000,146.720001,144.350006,1647700,144.350006
2021-04-21,143.740005,139.059998,143.740005,143.320007,1168900,143.320007
2021-04-22,149.500000,142.210007,144.899994,143.960007,991400,143.960007
2021-04-23,153.169998,144.009995,145.059998,152.750000,2088400,152.750000

In [39]:
# Create the output file (CSV).
output_data_file = "DASH.csv"
# Export the City_Data into a CSV.
df.to_csv(output_data_file, index_label="STOCK_TICKER")