In [1]:
# Initial imports
import pandas as pd

In [2]:
# intialise data of lists.
stocks = {
          'ticker': ['AAPL', 'MSFT', 'AMZN', 'GOOG', 'FB'], 
          'company_name': ['Apple', 'Microsoft', 'Amazon', 'Google', 'Facebook']
}

df = pd.DataFrame(stocks, columns = ['ticker', 'company_name'])
df.head()

  ticker company_name
0   AAPL        Apple
1   MSFT    Microsoft
2   AMZN       Amazon
3   GOOG       Google
4     FB     Facebook

In [3]:
# DataFrame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ticker        5 non-null      object
 1   company_name  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [4]:
# save the data into a csv file
df.to_csv(r'Resources/blue_chip.csv',index = False)