In [8]:
# Initial imports
import pandas as pd

In [5]:
# Intialise data of lists.
stocks = {
          'ticker': ['ZM', 'MRNA', 'CRWD', 'DOCU', 'PTON'], 
          'company_name': ['Zoom', 'Moderna', 'CrowdStrike', 'DocuSign', 'Peloton']
}

df = pd.DataFrame(stocks, columns = ['ticker', 'company_name'])
df.head()

  ticker company_name
0     ZM         Zoom
1   MRNA      Moderna
2   CRWD  CrowdStrike
3   DOCU     DocuSign
4   PTON      Peloton

In [6]:
# DataFrame info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ticker        5 non-null      object
 1   company_name  5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes

In [7]:
# save the data into a csv file
df.to_csv(r'Resources/new_ipos.csv',index = False)